* {
    margin: 0;
    padding: 0;
}
body {
    height: 100vh;
    display: grid;
    place-items: center;
}
#game-board {
    border: 1px solid blue;
    height: 500px; 
    width: 500px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 1fr);
    gap: 2px;
    padding: 5px;
}

#game-board > div{
    border: 1px solid blue;
}