* {
    margin: 0;
    padding: 0;
    font-family: 'Montserrat';
}

body {
    height: 100vh;
    display: grid;
    place-items: center;
    background-color: rgb(200, 200, 224);
}
#board {
    background-color: rgb(103, 103, 245);
    height: 500px; 
    width: 500px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 1fr);
    gap: 15px;
    border-radius: 20px;
    padding: 20px;
}

#board > div{
    background-color: rgb(255, 140, 140);
    border-radius: 20px;
    display: grid;
    place-items: center;
}

#board > div:active {
    background-color: rgb(255, 160, 160);
    border: 5px solid rgb(245, 101, 101);
}

button {
    padding: 10px;
    border-radius: 5px;
    border: none;
    background-color: rgb(255, 140, 140);
    color: rgb(75, 73, 73);
    font-weight: 550;
    font-size: 1.5rem;
    letter-spacing: 0.3rem;
}

button:hover {
    background-color: rgb(147, 149, 218);
}

h1 {
    font-size: 100px;
    color: rgb(99, 99, 221);
    padding: 30px;
}